extends ../layout
block content
  div.content
    div.eighty  
      h1 Check Out Your Bucket 
      if items
        table
          thead
            tr
              th Title
              th Location
              th Description
              th 
                button(id='comp') Completed!
              th Delete
          tbody
            each item in items
              tr
                td
                  a(href='/bucket/' + item._id)= item.title
                td.item= item.location
                td.itemume= item.description
                td
                  input.check(type='checkbox') 
                td
                  form(action='/bucket/'+ item._id +'/delete' method='post')
                    input(type='submit' value='Remove Item From Bucket')
    div.twenty       
      a(href='/bucket/new') Add To Your Bucket
      p
      a(href='/bucket/home') Back to Your Bucket
  script(src='/javascripts/dom.js')    
