extends ../layout
block content
  div.header
    div.row
      form(action='/logout' method='post')
        input.logout(type='submit' value='Logout')
  div.content
    div.eighty  
      h1.title Check Out Your Bucket 
      if items
        table
          thead
            tr
              th Title
              th Location
              th Description
          tbody
            each item in items
              tr
                td
                  a(href='/bucket/' + item._id)= item.title
                td= item.location
                td= item.description

    div.twenty       
      a(href='/bucket/new') Add To Your Bucket
      p
      a(href='/bucket/edit') Edit Your Bucket
        
