extends layout

block content
  a.login(href='/') Home 
  div.create
    h1.center Create Your Bucket List
    if errors
      each err in errors
        p= err
    form.form(action='/' method='post')
      p
      label.text(for='user') Username
      p
        input.input(type='text' name='user' id='user')
        
      label.text(for='pass') Password
      p
        input.input(type='password' name='pass' id='pass')
        
      label.text(for='confirm') Confirm Password
      p
        input.input(type='password' name='passCheck' id='confirm')
        
      input.submit(type='submit' value='Signup')
