body {
  padding: none;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #414066;
}

html {
  padding: none;
}
.home {
  width:960px;
  margin: 0 auto;
  height: auto;
  text-align: center;
  padding-top: 15%;
  color:#CEFF1A;
  font-size: 35px;
}
.create {
  width:960px;
  margin: 0 auto;
  height: auto;
  text-align: center;
  padding-top: 8%;
  color:#CEFF1A;
  font-size: 35px;
}

#login, #signUp {
  text-align: center;
  display: inline-block;
  width: 250px;
  border-radius: 10px;
  height: 50px;
  font-size: 30px;
  text-decoration: none;
  background-color: #CEFF1A;
  margin: 30px;
}
.content {
  width: 960px;
  margin: 0 auto;
  background-color: #82816D;
  /*display: inline-block;*/
}
.header {
  width: 100%;
  background-color: #414066;
}
.row {
  margin: 0 auto;
  width: 960px;
}
.eighty {
  width: 80%;
  display: inline-block;
}
.title {
  text-align: center;
}
table {
  width: 100%;
}
th {
  width: 25%;
  font-size: 18px;
}
tr {
  width: 100%;
  text-align: center;
  vertical-align: top;
}
td {
  padding-top: 10px;
}
.twenty {
  width: 20%;
  /*float: right;*/
  margin-top: 5%;
  text-align: center;
  display: inline-block;
}
.logout {
  font-size: 30px;
  border-style: none;
  background-color: white;
  border: 3px solid black;
}
.err {
  color: red;
  text-align: center;
}

.login:hover{
  color: #82816D;
}
.submit:hover {
  background-color: #414066;
}
 #login:hover, #signUp:hover{
   background-color: #82816D;
 }

.login {
  font-size: 25px;
  text-align: right;
  color: #CEFF1A;
  text-decoration: none;
  font-size: 35px;
  padding: 20px;
}
a {
  color: #414066;
  padding-top: 10px;
}
.center {
  text-align: center;
}
.form {
  background-color: #CEFF1A;

  border-radius: 10px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 55px;
  margin: 0 auto;
  /*text-align: center;*/
}

label {
	/*float: left;
	text-align: right;
	margin-right: 15px;
	width: 200px;
  font-size: 30px;
  display: inline;*/
  color: #414066;
}

.input {
    line-height: 2.0;
    width: 50%;
    border-radius: 10px;
    font-size: 22px;
    text-align: center;
}

.submit{
  border: 20px;
  padding: 20px;
  background-color: #82816D;
  color: #CEFF1A;
  border-radius: 10px;
  width: 30%;
  font-size: 30px;
}

.new label{
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 25%;
}

fieldset {
  margin-left: 28%;
  width: 45%;
  text-align: center;
}

.cen {
  padding-left: 17%;
  display: inline-block;
}
